<script type="text/javascript">
    // Math symbols https://www.toptal.com/designers/htmlarrows/ for html codes for math symbols
    let WORDS = {};
    WORDS["involution"] = "An involution is any map that is its own inverse. For a map f: X &rarr; X, f is an involution if f(f(x)) = x for all x &isin; X.";    
    WORDS["inclusion"] = "Let X &sube; Y. Then the inclusion map &#617;: X &rarr; Y (oftentimes written as X &rarrhk; Y) is the injective map x &#8614; x for all x &isin; X. \\n\\nEXAMPLE 1: &#617;: {1, 2} &rarrhk; {1, 2, 3} satisfies &#617;(1) = 1 and &#617;(2) = 2. \\n\\nEXAMPLE 2: &#617;: &#8477; &rarrhk; &#8477;&sup2; satisfies &#617;(x) = (x, 0).";
    WORDS["equivalence relation"] = "An equivalence relation ~ on a set X is a reflexive, symmetric, and transitive binary relation. Thus for all x, y, z &isin; X, it satisfies x ~ x, x ~ y iff y ~ x, and x ~ y and y ~ z implies that x ~ z. An equivalence class of x &isin; X, denoted [x], is the set of all elements of X that are equivalent to x. That is [x] &#8788; {y &isin; X | x ~ y}.\\n\\nEXAMPLE: let ~ be defined on &#8484; such that x ~ y whenever x and y are the same parity (i.e. either both even or both odd). Then [0] = {x &isin; &#8484; | x is even} and [1] = {x &isin; &#8484; | x is odd}. Note that [-4] = [-2] = [0] = [2] = [4] and so on, and [-3] = [-1] = [1] = [3] and so on.";
    WORDS["equivalence class"] = WORDS["equivalence relation"];
    WORDS["injective"] = "A map is called injective, one-to-one, or an injection if it maps distinct elements in its domain to distinct elements in its codomain.";
    WORDS["injection"] = WORDS["injective"];
    WORDS["surjective"] = "A map is called surjective, onto, or a surjection if its image is equal to its codomain.";
    WORDS["surjection"] = WORDS["surjective"];
    WORDS["bijective"] = "A map is called bijective or a bijection if it is both injective and surjective.\\n\\nINJECTIVE: " + WORDS["injective"] + "\\n\\nSURJECTIVE: " + WORDS["surjective"];
    WORDS["bijection"] = WORDS["bijective"];
    WORDS["normal subgroup"] = "Fix a group G with group operation &#8729;. A subgroup N is called normal if g &#8729; N = N &#8729; g for all g &isin; G. The notation used is N &vltri; G.";
    WORDS["homomorphism"] = "A homomorphism is a structure preserving map. Specifically, consider two sets X and Y equipped with the operations &#8729; and &#8727; respectively. A homomorphism is a map f: X &rarr; Y that satisfies f(a &#8729; b) = f(a) &#8727; f(b).";
    WORDS["homomorphic"] = WORDS["homomorphism"];
    WORDS["endomorphism"] = "An endomorphism is a homomorphism with the same domain and codomain.";
    WORDS["endomorphic"] = WORDS["endomorphism"];
    WORDS["automorphism"] = "An automorphsim is an isomorphism with the same domain and codomain. Thus it is an endomorphism that is also an isomorphism.";
    WORDS["automorphic"] = WORDS["automorphism"];
    WORDS["isomorphism"] = "An isomorphism is a bijective homomorphism whose inverse is also a homomorphism. For groups and vector spaces, for example, a bijective homomorphism is always an isomorphism. For topological spaces and differential manifolds, for example, a bijective homomorphism may not always be an isomorphism.";
    WORDS["homeomorphism"] = "A homeomorphism is an isomorphism between topological spaces. This means that it is a bijective continuous function between two topological spaces whose inverse is also continuous. The fact that it is continuous implies that it prerserves the open set structure. So two spaces are homeomorphic if they are topologically equivalent.";
    WORDS["homeomorphic"] = WORDS["homeomorphism"];
    WORDS["diffeomorphism"] = "A diffeomorphism is an isomorphism between differential manifolds. Hence it is a differentiable bijection whose inverse is also differentiable. It is a differentiable homeomorphism whose inverse is also differentiable.";
    WORDS["diffeomorphic"] = WORDS["diffeomorphism"];
    WORDS["isometry"] = "An isometry is an isomorphism between metric spaces.";
    WORDS["domain"] = "The domain of a map f: X &rarr; Y is the set X.";
    WORDS["codomain"] = "The codomain of a map f: X &rarr; Y is the set Y.";
    WORDS["image"] = "The image of a map f: X &rarr; Y under the set A &#8838; X is f[A] &#8788; {f(x) | x &isin; A}. When the explicit subset A is left out, the image of f is Im(f) &#8788; f[X].";
    WORDS["preimage"] = "The preimage of a a map f: X &rarr; Y under the set A &#8838; Y is f&#8315;&#185;[A] &#8788; {x &isin; X | f(x) &isin; Y}.";
    WORDS["Heaviside step function"] = "The Heaviside step function is zero whenever the input is negative and one whenever the input is positive. There are different conventions for the zero input. The Heaviside step function is the derivative of the ramp function max{0, x}, and the Dirac delta function is the derivative of the Heaviside step function.";
    WORDS["BCH formula"] = "The Baker–Campbell–Hausdorff formula finds the Z that satisfies exp(X)exp(Y) = exp(Z), where X, Y, and Z are elements of a Lie algebra.";
    WORDS["powerset"] = "For a set X, the powerset of X, often denoted P(X), is the set of all subsets of X (including the empty set and the set X itself).";
    WORDS["power set"] = WORDS["powerset"];
    WORDS["Heine-Borel theorem"] = "The Heine-Borel theorem states that a subset of Euclidean space is compact if and only if it is closed and bounded.";
    WORDS["paracompact"] = "A topological space is called paracompact if every open cover has a locally finite open refinement. An open refinement of an open cover C is simply an open cover C' where every set in C' is a subset of a set in C. An open cover is called locally finite if every point in the space has an open neighborhood that intersects only finitely many sets in the cover.\\n\\nParacompactness is important for topological manifolds because it ensures the existence of a partition of unity. Roughly speaking, we need paracompactness in order to define a partition of unity because we need to have access to an atlas for which each point belongs to only finitely many charts so that the sum of the functions of the partition of unity can be 1 at that point. Note that our atlas on the manifold does not need to satisfy this, but the important thing is that we could refine our atlas such that it still covers the space and it satisfies the local finiteness property.";
    WORDS["compact"] = "A subset K of a topological space is compact if every open cover of K contains a finite subcover. When working with subsets of Euclidean spaces, the Heine-Borel theorem tells us that compactness is equivalent to being closed and bounded. See my post `Compactness on topological spaces and why it is important` for more details.";
    WORDS["coset"] = "Fix a subgroup H of the group G (where the group operation is notated multiplicatively). For each g &isin; G, there is a left coset of H in G denoted by gH = {gh | h &isin; H} and a right coset of H in G denoted by Hg = {hg | h &isin; H}. Any two left cosets are either disjoint or equal, and the same goes for right cosets.";
    WORDS["complex projective space"] = "The complex projective space CP&#8319; is S&#178;&#8319;&#8314;&#185; / U(1), where S is the sphere and U is the unitary group.";
    WORDS["Hausdorff"] = "A topological space is called Hausdorff if for every distinct pair of points in the space, there exists neighborhoods of each point respectively that are disjoint.";
    WORDS["topological manifold"] = "A d-dimensional topological manifold is a Hausdorff topological space that satisfies the following property: for every point in the manifold, there is an open neighborhood of that point that is homeomorphic to &#8477;^d. " + WORDS["Hausdorff"];
    WORDS["partition of unity"] = "A partition of unity on a topological space is a set X of continuous functions from the space to the [0, 1] such that for each point p in the space, two conditions are satisfied: (1) there is a neighborhood of p for which only finitely many functions in X are nonzero, and (2) the sum of all the function values at p is 1.";


    function funReplace(word) {
        var defn = WORDS[word];
        return "<span style='color: blue; cursor: pointer;' title='"
            + defn.replace(/\\n/g, "\n")
            + "' onclick=\"alert('"
            + defn
            + "')\";>"
            + word
            + "</span>";
    }
    let used = {};
    for(let p of document.querySelectorAll('p,li')) {
        p.innerHTML = p.innerHTML.replace(
            new RegExp(Object.keys(WORDS).join('|'), 'g'),
            function(m) {return used[m] ? m : funReplace(used[m] = m);}
        );
    }
    // for some reason, when I did document.body.innerHTML = document.body.innerHTML.replace(...)
    // it caused some weird things. So instead I iterate through the paragraphs and list items.
</script>
