<div>

  <!-- Twitter -->
  <div style="display: inline-block;">
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>
    <a class="twitter-share-button"
      href="{{'https://twitter.com/intent/tweet?text=Check%20out%20this%20article&via=IosueJoe&url=' + location.href.substring(0, location.href.lastIndexOf('/')+1)}}"
      data-size="small">
    Tweet</a>
    <a href="https://twitter.com/IosueJoe?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @IosueJoe</a><!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  </div>

  <!-- Facebook -->
  <div style="display: inline-block; vertical-align: top;">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="AEQXM3kC"></script>
    <div class="fb-like" data-href="{{ location.href.substring(0, location.href.lastIndexOf('/')+1) }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true" style="display: inline-block; vertical-align: top;"></div>

<!--     <iframe src="{{'https://www.facebook.com/plugins/like.php?href=' + location.href.substring(0, location.href.lastIndexOf('/')+1) + '&width=150&layout=button_count&action=like&size=small&share=true&height=20&appId'}}" width="150" height="20" style="border:none;overflow:hidden; vertical-align: top;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
  </div>

</div>
