<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
<a class="twitter-share-button"
  href="{{'https://twitter.com/intent/tweet?text=Check%20out%20this%20article&via=IosueJoe&url=' + location.href.substring(0, location.href.lastIndexOf("/")+1)}}"
  data-size="small">
Tweet</a>
<a href="https://twitter.com/IosueJoe?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @IosueJoe</a><!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
